@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gold: #A4863D;
    --lavender: #E6E6FA;
    --forest: #0E300E;
    --charcoal: #333333;

    /* Theme Variables */
    --text: #4b5563;
    --text-h: var(--charcoal);
    --bg: #ffffff;
    --border: #e5e4e7;
    --code-bg: #f4f3ec;

    --sans: 'Josefin Sans', system-ui, sans-serif;
    --serif: 'Libre Baskerville', Georgia, serif;
    --mono: ui-monospace, Consolas, monospace;

    --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  }

  /* Dark Mode */
  @media (prefers-color-scheme: dark) {
    :root {
      --text: #9ca3af;
      --text-h: #f3f4f6;
      --bg: #16171d;
      --border: #2e303a;
      --code-bg: #1f2028;
    }
  }

  body {
    margin: 0;
    font-family: var(--sans);
    color: var(--text);
    background-color: var(--bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--serif);
    font-weight: 600;
    color: var(--text-h);
  }

  h1 {
    font-size: 56px;
    letter-spacing: -1px;
    line-height: 1.1;
    @media (max-width: 1024px) {
      font-size: 36px;
    }
  }

  h2 {
    font-size: 24px;
    line-height: 1.2;
    @media (max-width: 1024px) {
      font-size: 20px;
    }
  }
}

/* App Wrapper Styling */
#root {
  @apply min-h-screen flex flex-col w-full mx-auto;
  max-width: 1280px; 
}

code, .counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  padding: 4px 8px;
  background: var(--code-bg);
}